
        /* sc icon */
        .sc-icon {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            flex-wrap: wrap;
            align-content: flex-end;
            margin: 0px 50px 0px 50px;

        }

        .bars-container {
            display: flex;
            gap: 10px;
        }

        .bar {
            width: 100px;
            height: 10px;
        }

        .bar1 {
            background-color: #FF8000;
            /* Orange color */
            height: 60px;
            width: 20px;
        }

        .bar2 {
            background-color: #1B9EFF;
            /* Blue color */
            height: 90px;
            width: 20px;
        }

        .bar3 {
            background-color: #FF8000;
            /* Orange color */
            height: 60px;
            width: 20px;
        }
        .serv {
            display: flex;
            flex-direction: column;
            margin: 0px 50px 0px 50px;
            padding: 0px 0px 60px 0px;
            align-items: center;
        }

        h3 {
            color: #000000;
            font-size: 34px;
        }

        .facilities-card.col-lg-12 {
            display: flex;
            padding: 10px;
            justify-content: center;
            background-color: #2c7fc71f;
            align-items: center;
            column-gap: 20px;
        }

        .zoomin {
            display: flex;
            justify-content: center;
            padding: 10px;
            border-radius: 10px;
        }
        .torn-btn{
            background-color: #000000;
            color: white;
            padding: 5px;
            border-radius: 3px;
            font-size: 15px;
            /* height: 40px;
            width: 60px; */
        }
        .torn-btn:hover{
            border: 1px solid #FF8000;
            transform: scale(1.02);
            transition: 0.5s;
        }

        /* media queries */
        @media screen and (max-width: 400px) {
    .serv {
                display: flex;
                flex-direction: column;
                margin: 0px 50px 0px 50px;
                padding: 0px 0px 60px 0px;
                align-items: center;
            }
    
            h3 {
                color: #000000;
                font-size: 34px;
            }
    
            .imgserv {
                display: flex;
                height: 150px;
                width: 100%;
            }
    
            .facilities-card.col-lg-12 {
                display: flex;
                padding: 10px;
                justify-content: center;
                align-items: center;
                column-gap: 20px;
                flex-direction: column;
            }
            .facilities-img.col-lg-5{
                display: flex;
                flex-direction: column;
                width: 100%;
            }
    
    
            .zoomin {
                display: flex;
                justify-content: center;
                padding: 10px;
                border-radius: 10px;
                flex-direction: column;
            }
    
        
}

@media screen and (min-width: 401px) and (max-width: 720px) {
    .serv {
                display: flex;
                flex-direction: column;
                margin: 0px 50px 0px 50px;
                padding: 0px 0px 60px 0px;
                align-items: center;
            }
    
            h3 {
                color: #000000;
                font-size: 34px;
            }
            .facilities-img.col-lg-5{
                display: flex;
                width: 100%;
            }
    
            .imgserv {
                display: flex;
                height: 200px;
                width: 50%;
            }
    
            .facilities-card.col-lg-12 {
                display: flex;
                padding: 10px;
                justify-content: center;
                align-items: center;
                column-gap: 20px;
                flex-direction: column;
            }
            .facilities-img.col-lg-5{
                display: flex;
        flex-direction: column;
        align-items: center;
            }
    
    
            .zoomin {
                display: flex;
                justify-content: center;
                padding: 10px;
                border-radius: 10px;
                flex-direction: column;
            }
    
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    .serv {
                display: flex;
                flex-direction: column;
                margin: 0px 50px 0px 50px;
                padding: 0px 0px 60px 0px;
                align-items: center;
            }
    
            h3 {
                color: #000000;
                font-size: 34px;
            }
    
            .imgserv {
                display: flex;
                height: 200px;
                width: 100%;
                border-radius: 30px;
            }

    
            .facilities-card.col-lg-12 {
                display: flex;
                padding: 10px;
                justify-content: center;
                align-items: center;
                column-gap: 20px;
            }
            .facilities-card.col-lg-12:hover{
            border-top-right-radius: 70px;
            border-bottom-left-radius: 70px;
            padding: 30px;
            transition: 0.8s;
        }
        .facilities-img.col-lg-5{
                display: flex;
                flex-direction: column;
                width: 100%;
            }
    
            .zoomin {
                display: flex;
                justify-content: center;
                padding: 10px;
                border-radius: 10px;
                flex-direction: column;
            }
    
}
@media screen and (min-width: 992px) and (max-width: 1280px) {
    .serv {
                display: flex;
                flex-direction: column;
                margin: 0px 50px 0px 50px;
                padding: 0px 0px 60px 0px;
                align-items: center;
            }
    
            h3 {
                color: #000000;
                font-size: 34px;
            }
            .facilities-img.col-lg-5{
                display: flex;
                width: 400px;
            }
    
            .imgserv {
                display: flex;
                height: 300px;
                width: 100%;
            }
    
            .facilities-card.col-lg-12 {
                display: flex;
                padding: 10px;
                justify-content: center;
                align-items: center;
                column-gap: 20px;
                flex-direction: row;
            }
            
            .zoomin {
                display: flex;
                justify-content: center;
                padding: 10px;
                border-radius: 10px;
                flex-direction: column;
            }
    
}


@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .serv {
                display: flex;
                flex-direction: column;
                margin: 0px 50px 0px 50px;
                padding: 0px 0px 60px 0px;
                align-items: center;
            }
    
            h3 {
                color: #000000;
                font-size: 34px;
            }
    
            .imgserv {
                display: flex;
                height: 300px;
                width: 100%;
                border-radius: 30px;
            }
    
            .facilities-card.col-lg-12 {
                display: flex;
                padding: 40px;
                justify-content: center;
                align-items: center;
                column-gap: 20px;
                width: 90%;
            }
            .facilities-card.col-lg-12:hover{
            border-top-right-radius: 70px;
            border-bottom-left-radius: 70px;
            padding: 30px;
            transition: 0.8s;
        }
        .facilities-img.col-lg-5{
                display: flex;
                flex-direction: column;
                width: 400px;
            }
    
    
            .zoomin {
                display: flex;
                justify-content: center;
                padding: 10px;
                border-radius: 10px;
                flex-direction: column;
                font-size: 22px;
            }
    
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .serv {
                display: flex;
                flex-direction: column;
                margin: 0px 50px 0px 50px;
                padding: 0px 0px 60px 0px;
                align-items: center;
            }
    
            h3 {
                color: #000000;
                font-size: 34px;
            }
    
            .imgserv {
                display: flex;
                height: 300px;
                width: 100%;
                border-radius: 50px;
            }
    
            .facilities-card.col-lg-12 {
                display: flex;
                padding: 40px;
                justify-content: center;
                align-items: center;
                column-gap: 20px;
            }
            .facilities-card.col-lg-12:hover{
            border-top-right-radius: 70px;
            border-bottom-left-radius: 70px;
            padding: 20px;
            transition: 0.8s;
        }
        .facilities-img.col-lg-5{
                display: flex;
                flex-direction: column;
            }
    
    
            .zoomin {
                display: flex;
                justify-content: center;
                padding: 10px;
                border-radius: 10px;
                font-size: 24px;
            }
    
}

@media screen and (min-width: 1921px) {
    .serv {
                display: flex;
                flex-direction: column;
                margin: 0px 50px 0px 50px;
                padding: 0px 0px 60px 0px;
                align-items: center;
            }
            div.zoomin.col-lg-5 p {
                font-size: 30px;
            }
            h3 {
                color: #000000;
                font-size: 34px;
            }
    
            .imgserv {
                display: flex;
                height: 300px;
                width: 100%;
                border-radius: 30px;
            }
    
            .facilities-card.col-lg-12 {
                display: flex;
                padding: 60px;
                justify-content: center;
                align-items: center;
                column-gap: 20px;
                
            }
            .facilities-card.col-lg-12:hover{
            border-top-right-radius: 70px;
            border-bottom-left-radius: 70px;
            padding: 30px;
            transition: 0.8s;
        }
    
            .zoomin {
                display: flex;
                justify-content: center;
                padding: 10px;
                border-radius: 10px;
                flex-direction: column;
            }
}
